## Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

#### Some of the popular languages that Data Scientists use are:

1 **Python**
2 **R**
3 **C**

#### Some of the commonly used libraries used by Data Scientists include:

1. **Panda** 2. **ggplot** 3. **Numpy**

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Anaconda          |

#### Below are a few examples of evaluating arithmetic expressions in Python:

In [65]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5 #@ Expected output: 17

17

In [67]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

**Ob#jectives** 
- List popular languages for Data Science  
- Identify commonly used Data Science libraries 
- Describe common open-source development tools for Data Science

## Author
Maxime Boulanger